<div class="row post">
  <table>
    <tr>
      <td>
        <img src="{{gravatar email '100'}}" />
      </td>
      <td>
        <div class="text">
          {{{formatText text}}}
        </div>
        <div class="timestamp">
          {{email}} &middot; {{timeAgo timestamp}}
        </div>
      </td>
    </tr>
  </table>
</div>
