<textarea class="form-control" rows="3"></textarea>
<div class="row instructions-to-submit">
  <div class="col-md-12 text-right">
    Press "Shift + Enter" to submit.
  </div>
</div>
<div class="posts"></div>