<div class="row post">
  <table>
    <tr>
      <td>
        <img src="https://s.gravatar.com/avatar/edb8a30b7125b23b5ddae9047019f1e0?s=100" />
      </td>
      <td>
        <div class="text">
          {{text}}
        </div>
        <div class="timestamp">
          {{timestamp}}
        </div>
      </td>
    </tr>
  </table
</div>